# Puerto en el que escuchará el servidor SSH
Port 22

# Protocolos permitidos
Protocol 2

# Modo de autenticación permitido (puedes ajustar según tus necesidades)
PermitRootLogin no
PasswordAuthentication yes
PubkeyAuthentication yes

# Rutas y configuración de archivos
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Opciones adicionales de seguridad (opcional, según necesidades)
LoginGraceTime 120
ClientAliveInterval 300
ClientAliveCountMax 0

# Configuración específica de usuarios (opcional)
AllowUsers sftpuser
